/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/* Set body styles */
body {
  background-color: #f1f1f1;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

/* Set header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333333;
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
}

header a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}

header a:hover {
  color: #ffd700;
}

.search-box {
  display: flex;
}

.search-box input[type="text"] {
  background-color: #f1f1f1;
  color: #333333;
  border: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  font-family: 'Montserrat', sans-serif;
}

.search-box button[type="submit"] {
  background-color: #ffd700;
  color: #333333;
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.search-box button[type="submit"]:hover {
  background-color: #f1c40f;
}

.fancy-title {
  color: #333333;
  font-size: 54px;
  margin: 20px 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  padding: 3px 0; /* creates distance between links */
}

nav a::after {
  margin-bottom: 10px;
}

nav a:hover {
  color: #ffd700;
}

/* Set main section styles */
main {
  padding: 40px;
}

section h2 {
  font-size: 24px;
  margin: 20px 0;
  text-transform: uppercase;
}

section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

section ul {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

section li {
  margin-bottom: 10px;
}

/* Set footer styles */
footer {
  background-color: #333333;
  color: #f1f1f1;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

footer p {
  margin: 0;
}
