<!DOCTYPE html>
<html>
<head>
	<title>Counting DNA Nucleotides</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>Counting DNA Nucleotides for String Input</h1>
	<form method="post" action="{{ url_for('cnucleotides.countingnucleotides') }}">
		<label for="strand">Enter DNA string</label>
		<input type="text" id="strand" name="strand" value="{{ request.form['strand'] if request.method == 'POST' else '' }}" required>
		<input type="submit" value="Calculate">
	</form>
	{% if a %}
		<p>The output of the algorithm is:<br> 
			Adenine Count: {{a}} <br>
			Cytosine Count:{{c}}<br> 
			Guanine Count: {{t}} <br>
			Thymine Count: {{g}} <br>
		</p>
	{% endif %}
</body>
</html>
