<!DOCTYPE html>
<html>
<head>
	<title>File Conversion</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/algstyle.css') }}">
	<div style="text-align: left;">
		<button type="button" style="background: none; border: none; padding: 0;"><a href="{{ url_for('homebut.homebutton') }}">
			<svg class= "logo" width="50%" height="50%" viewBox="0 0 1920 1080" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
				<g transform="matrix(1,0,0,1,40.8023,-24.0821)">
					<text x="293.121px" y="814.018px" style="font-family:'ProductSans-Regular', 'Product Sans', sans-serif;font-size:698.146px;fill:rgb(31,39,48);">S   R</text>
				</g>
				<g>
					<g transform="matrix(0.735828,0,0,1,176.325,63.6133)">
						<rect x="780.841" y="98.507" width="284.184" height="44.118" style="fill:rgb(240,84,84);"/>
					</g>
					<g transform="matrix(0.695182,0,0,1,219.614,172.268)">
						<rect x="780.841" y="98.507" width="284.184" height="44.118" style="fill:rgb(240,84,84);"/>
					</g>
					<g transform="matrix(0.500853,0,0,1,426.579,280.922)">
						<rect x="780.841" y="98.507" width="284.184" height="44.118" style="fill:rgb(240,84,84);"/>
					</g>
					<g transform="matrix(-0.735828,0,0,-1,1743.68,1030.33)">
						<rect x="780.841" y="98.507" width="284.184" height="44.118" style="fill:rgb(240,84,84);"/>
					</g>
					<g transform="matrix(-0.695182,0,0,-1,1700.39,921.672)">
						<rect x="780.841" y="98.507" width="284.184" height="44.118" style="fill:rgb(240,84,84);"/>
					</g>
					<g transform="matrix(-0.500853,0,0,-1,1493.42,813.018)">
						<rect x="780.841" y="98.507" width="284.184" height="44.118" style="fill:rgb(240,84,84);"/>
					</g>
				</g>
				<g transform="matrix(1,0,0,1,-30.7189,1.13687e-13)">
					<g transform="matrix(0.821412,0,0,0.685484,197.873,-65.1867)">
						<path d="M732.694,278.894L673.376,278.894C672.855,389.111 694.027,498.503 735.505,600.115C778.426,705.262 843.088,802.078 927.956,882.86L1001.36,882.86C815.308,694.26 713.4,493.838 732.694,278.894Z" style="fill:rgb(31,39,48);"/>
					</g>
					<g transform="matrix(-0.821412,-1.00594e-16,8.39476e-17,-0.685484,1783.1,1145.19)">
						<path d="M732.694,278.894L673.376,278.894C672.316,503.16 761.073,724.011 927.956,882.86L1001.36,882.86C815.308,694.26 713.4,493.838 732.694,278.894Z" style="fill:rgb(31,39,48);"/>
					</g>
				</g>
			</svg>
		</a></button>
</head>
<body>
	<div style="text-align: center">
	<h1>FASTA TO EMBL CONVERSION</h1>
	
	<form method="post" action="/conversion/fasta-embl" enctype="multipart/form-data">
		<label for="plain_file">Upload FASTA file:</label>
		<input type="file" id="fasta_file" name="fasta_file" accept=".txt"><br><br>

		<label for="description1">Enter Description1:</label>
		<input type="text" id="description1" name="description1" value="{{ request.form['description1'] if request.method == 'POST' else '' }}" required><br><br>

		<label for="description2">Enter Description2:</label>
		<input type="text" id="description2" name="description2" value="{{ request.form['description2'] if request.method == 'POST' else '' }}" required><br><br>

		<label for="accession">Enter Accession Number:</label>
		<input type="text" id="accession" name="accession" value="{{ request.form['accession'] if request.method == 'POST' else '' }}" required><br><br>
        <input type="submit" value="Upload FASTA and Formatting Information">
	</form>
	</div>
</body>
</html>