<!DOCTYPE html>
    <html>

    <head>
        <title>Algorithms</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <header>
            <div style="text-align: center; width: 100%;">
                <h1 class="fancy-title" >Algorithms List</h1>
            </div>
            
        </header>

        <main>

            <div style="text-align: center;">
                <section>
                    <h2>Purpose of This Page</h2>
                    <p>Choose an algorithm below. You will be redirected to a page for each algorithm.</p>
                </section>

                <label for="List">Choose an action:</label>
                <select id="List" onchange="location.href = this.value;">
                    <option value="/algs">--------</option> 
                    <option value="/algs/fibonacci">Fibonacci Sequence</option>
                    <option value="/algs/counting-nucleotides">Counting Nucleotides</option>
                    <option value="/algs/gccontent">GC Content Calculator</option>
                    <option value="/algs/consensus">Consensus String</option>
                    <option value="/algs/hamming">Hamming Distance</option> 
                    <option value="/algs/rna-to-protein">RNA to Protein</option> 
                </select>
            </div>
        </main>

    </html>