<!DOCTYPE html>
<html>
<head>
	<title>Fibonacci Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>Fibonacci Calculator</h1>
	<form method="post" action="{{ url_for('fibonacci.fibonacci') }}">
		<label for="n">Enter input n:</label>
		<input type="number" id="n" name="n" value="{{ request.form['n'] if request.method == 'POST' else '' }}" required>
		<label for="k">Enter input k:</label>
		<input type="number" id="k" name="k" value="{{ request.form['k'] if request.method == 'POST' else '' }}" required>
		<input type="submit" value="Calculate">
	</form>
	{% if result %}
		<p>The output of the algorithm is: {{ result }}</p>
	{% endif %}
</body>
</html>
