<!DOCTYPE html>
<html>
<head>
	<title>GC Content Calculator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>GC Content Calculator</h1>
	<form method="post" action="{{ url_for('gc.gc_content') }}" enctype="multipart/form-data">
		<label for="fasta_file">Upload FASTA file:</label>
		<input type="file" id="fasta_file" name="fasta_file" accept=".fasta">
		<input type="submit" value="Calculate">
	</form>
	{% if max_gc %}
		<p>The sequence with the highest GC content is {{ max_gc[0] }} with a GC content of {{ max_gc[1] }}%.</p>
	{% endif %}
</body>
</html>
