<!DOCTYPE html>
<html>
<head>
	<title>Hamming Distance</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/algstyle.css') }}">
</head>
<body>
    <div style="text-align: center">
	<h1>Hamming Distance</h1>
	<form method="post" action="{{ url_for('motif.substring_finder') }}" enctype="multipart/form-data">
		<label for="motif_text">Upload file:</label>
		<input type="file" id="ham_text" name="ham_text" accept=".txt">
		<input type="submit" value="Calculate">
	</form>
    </div>
	{% if c %}
		<p>{{ c }}%.</p>
	{% endif %}
</body>
</html>
