<!DOCTYPE html>
    <html>

    <head>
        <title>My Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <header>
            <form action="/search" method="get">
                <div class="search-box">
                    <input type="text" name="q" placeholder="Search...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
            <div style="text-align: right;">
                <a href="#">Sign up</a> 
                <a href="login">Log in</a>
            </div>
            
        </header>

        <main>
            <div style="text-align: center;">
                
                <h1 class="fancy-title">Seer</h1>

                <nav>
                    <div class="nav-links">
                        <a href="drop/l">Conversion</a><br>
                    </div>
                    <div class="nav-links">
                        <a href="/algs">Algorithms</a>
                    </div>
                </nav>
            </div>

            <div style="text-align: center;">
                <section>
                    <h2>About Us</h2>
                    <p>(Our name) hopes to provide both benefits for those of a bioinformatics field as well as those who are hoping to learn about bioinformatics.</p>
                </section>

                <section>
                    <h2>What Does This Application Provide?</h2>
                    <div style="text-align: center;">
                        <li>File conversion</li>
                        <li>Algorithms for certain genetic scenarios</li>
                        <li>tbd</li>
                        <li>tbd</li>
                        <li>tbd</li>
                    </div>
                </section>
            </div>
        </main>

        <!--<footer>
            <p>&copy; 2023 *Name Here*. All rights reserved.</p>
        </footer>
    </body>-->

    </html>